@model GigHub.ViewModels.GigDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>
    @Model.Gig.Artist.Name
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.IsFollowing)
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="btn btn-info btn-sm js-toggle-follow">Following</button>
        }
        else
        {
            <button data-artist-id="@Model.Gig.ArtistId" class="btn btn-default btn-sm js-toggle-follow">Following?</button>
        }
    }
    </h2>
<p>
    Perfroming at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("d MMM") at @Model.Gig.DateTime.ToString("HH:mm")
</p>

@if(User.Identity.IsAuthenticated && Model.IsAttending)
{
    <p>You are going to this event.</p>
}

@section scripts{
    <script>
        $(document).ready(function () {
            FollowingController.init();
        });
    </script>
    }

